<app-nav-1></app-nav-1>
<app-nav-2></app-nav-2>

<section>
  <div class="container px-4 py-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center py-4">
          <h2>Solicitudes Eliminadas</h2>
        </div>
        <table class="table my-4 text-center align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha registro</th>
              <th scope="col">Usuario</th>
              <th scope="col">Código</th>
              <th scope="col">Estado</th>
              <th scope="col">Fue modificado</th>
              <th scope="col">Eliminado por</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitud of solicitudes; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ solicitud.idSolicitud!.fechaRegistro }}</td>
              <td>{{"@"}}{{ solicitud.idSolicitud.idUsuarioSolicitante.nombreUsuario}}</td>
              <td>{{ solicitud.idSolicitud.codigo }}</td>
              <td><span class="badge bg-danger">{{ solicitud.idSolicitud.estado }}</span></td>
              <td>{{ solicitud.idSolicitud.modificado ? 'Sí' : 'No' }}</td>
              <td>{{"@"}}{{ solicitud.idUsuarioEliminador.nombreUsuario }}</td>
              <td>
                <div class="btn-group btn-group-s" role="group" aria-label="Basic example">
                  <a [href]="'detalle-solicitud-eliminada/' + solicitud.idEliminado">
                    <button type="button" class="btn btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                          d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path
                          d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                      </svg>
                    </button>
                  </a>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>