<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <div class="container px-4">
    <a class="navbar-brand">Administración de solicitudes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li *ngIf="estado.authenticated" class="nav-item text-white align-middle mx-4">
          ¡Bienvenido! {{"@"}}{{estado.nombreUsuario}}
        </li>
        <li class="nav-item"><button type="button" (click)="cerrarSesion()" class="btn btn-light">Cerrar
            Sesión</button></li>
      </ul>
    </div>
  </div>
</nav>